In [1]:
import numpy as np

<h3> 1.0 Arithmetic Operations </h3>

In [2]:
a = np.array([1, 2, 3, 4])
print(a + 1)

[2 3 4 5]

In [7]:
a = a**2
print(a)

[ 1  4  9 16]

In [11]:
b = np.ones(4) + 1
print(b)

[2. 2. 2. 2.]

In [10]:
a + b

array([ 3.,  6., 11., 18.])

In [12]:
a * b

array([ 2.,  8., 18., 32.])

In [14]:
mat = np.diag([1, 2, 3, 4])
print(mat)

[[1 0 0 0]
 [0 2 0 0]
 [0 0 3 0]
 [0 0 0 4]]

In [15]:
print(mat * mat)

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

In [17]:
print(mat.dot(mat))

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

<h3> 1.1 Element-Wise Comparision </h3>

In [20]:
a = np.array([1, 2, 3, 4])
b = np.array([1, 6, 7, 8])
a == b

array([ True, False, False, False])

In [21]:
a > b

array([False, False, False, False])

<h3> 1.2 Array-Wise Comparision </h3>

In [24]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 2, 2, 4])
c = np.array([1, 2, 3, 4])

np.array_equal(a, b)

False

In [25]:
np.array_equal(a, c)

True

<h3> 1.3 Logical Operations </h3>

In [28]:
a = np.array([1, 1, 0, 0], dtype='bool')
b = np.array([1, 0, 1, 0], dtype='bool')
np.logical_or(a, b)

array([ True,  True,  True, False])

In [29]:
np.logical_and(a, b)

array([ True, False, False, False])

<h3> 1.4 Transcendental Functions </h3>

In [31]:
a = np.arange(5)
np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [35]:
np.exp(a)

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

<h3> 1.4 Shape Mismatch </h3>

In [36]:
a = np.arange(4)
a + np.array([1, 2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

<h3> 1.5 Basic Reductions </h3>

In [37]:
x = np.array([1, 2, 3, 4])
np.sum(x)

10

In [50]:
x = np.array([[1, 1], [2, 2]])
x

array([[1, 1],
       [2, 2]])

In [51]:
# Axis = 0 is column by sum
x.sum(axis=0)

array([3, 3])

In [52]:
x = x.sum(axis=1)
print(x)

[2 4]

In [53]:
x.min()

2

In [54]:
x.max()

4

In [55]:
# argmin() gives the index of minimum element
# argmax() gives the index of maximum element
print(x.argmin())
print(x.argmax())

0
1

<h3> 1.6 Logical Operations </h3>

In [56]:
# Returns true only if all are true
np.all([True, False, True])

False

In [57]:
# Returns true if any of them is true
np.any([True, False, True])

True

In [58]:
# Can be used for array comparisions
a = np.zeros((50, 50))
np.any(a == 0)

True

In [59]:
np.any(a != 0)

False

In [61]:
np.all(a == a)

True

In [62]:
a = np.array([1, 2, 3, 2])
b = np.array([2, 2, 3, 2])
c = np.array([6, 4, 4, 5])

((a <= b) & (b <= c)).all()

True

<h3> 1.7 Statistics </h3>

In [63]:
x = np.array([1, 2, 3, 1])
y = np.array([[1, 2, 3], [5, 6, 1]])
print(x.mean())

1.75

In [64]:
np.median(x)

1.5

In [65]:
np.median(y, axis=1)

array([2., 5.])

In [66]:
x.std()

0.82915619758885

<h3> 1.8 Loading Text Data </h3>

In [67]:
data = np.loadtxt('populations.txt')
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [68]:
year, hares, lynxes, carrots = data.T
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [69]:
# Take all the rows, take from 1st column onwards
populations = data[:, 1:]
populations

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [70]:
# Populates the std deviation by column
populations.std(axis=0)

array([20897.90645809, 16254.59153691,  3322.50622558])

In [71]:
# Which species has the highest population each year
np.argmax(populations, axis=1)

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2])

<h3> 1.8 Broadcasting </h3>

In [79]:
# (3, 1) refers to 3 times replication in rows, 1 time in column
a = np.tile(np.arange(0, 40, 10), (3, 1))
print(a)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]

In [80]:
a = a.T
print(a)

[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [76]:
# (3, 1) refers to 3 times replication in rows, 2 times in column
b = np.tile(np.arange(0, 40, 10), (3, 2))
print(b)

[[ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]]

In [77]:
b = b.T
print(b)

[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]
 [ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [81]:
a

array([[ 0,  0,  0],
       [10, 10, 10],
       [20, 20, 20],
       [30, 30, 30]])

In [82]:
c = np.array([0, 1, 2])
c

array([0, 1, 2])

In [84]:
a + c

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [88]:
a = np.arange(0, 40, 10)
print(a)
print(a.shape)

[ 0 10 20 30]
(4,)

In [89]:
# Example 3 of Broadcasting
# [:, newaxis] Means take all the rows and make it on a new axis
# Adds a new axis, 'a' becomes a 2D array
# If we don't do this, addition will not work and will show sizes not matched
a = a[:, np.newaxis]
print(a.shape)
print(a)

(4, 1)
[[ 0]
 [10]
 [20]
 [30]]

In [91]:
c

array([0, 1, 2])

In [92]:
a + c

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

<h3> 1.9 Flattening </h3>

Converts nD -> 1D Array

In [101]:
a = np.array([[1, 2, 3], [4, 5, 6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [102]:
a.ravel()

array([1, 2, 3, 4, 5, 6])

In [103]:
a.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [104]:
a.ravel()

array([1, 2, 3, 4, 5, 6])

In [108]:
b = a.ravel()

In [109]:
print(b)

[1 2 3 4 5 6]

In [110]:
b = b.reshape(2, 3)
print(b)

[[1 2 3]
 [4 5 6]]

In [111]:
# 'a' value also has changed because internally they refer to the same memory location
b[0, 0] = 100
a

array([[100,   2],
       [  3,   4],
       [  5,   6]])

#### Beware, reshape may also return a copy!

In [112]:
a = np.zeros((3, 2))
a.T

array([[0., 0., 0.],
       [0., 0., 0.]])

In [113]:
b = a.T.reshape(3*2)

In [114]:
b

array([0., 0., 0., 0., 0., 0.])

In [115]:
b[0] = 50

In [116]:
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

<h3> 2.0 Flattening A Dimension </h3>

1D -> 2D
2D -> 3D and so on..

In [117]:
z = np.array([1, 2, 3])
print(z)

[1 2 3]

In [118]:
z[:, np.newaxis]

array([[1],
       [2],
       [3]])

In [120]:
a = np.arange(4*3*2).reshape(4, 3, 2)
print(a.shape)
print(a)

(4, 3, 2)
[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]

 [[12 13]
  [14 15]
  [16 17]]

 [[18 19]
  [20 21]
  [22 23]]]

In [121]:
a[0, 2, 1]

5

<h3> 2.1 Resizing </h3>

In [122]:
a = np.arange(4)
a.resize((8, ))
a

array([0, 1, 2, 3, 0, 0, 0, 0])

In [124]:
# If 2 variables are pointing to the same location, resizing will create errors!
b = a
a = a.resize((4, ))

ValueError: cannot resize an array that references or is referenced
by another array in this way.  Use the resize function

<h3> 2.2 Sorting </h3>

In [125]:
# Sorting along an axis
a = np.array([[5, 4, 6], [2, 3, 2]])
b = np.sort(a, axis=1)
print(b)

[[4 5 6]
 [2 2 3]]

In [126]:
# In-place sort
a.sort(axis=1)
a

array([[4, 5, 6],
       [2, 2, 3]])

In [127]:
# Sorting with fancy indexing
a = np.array([4, 3, 1, 2])
j = np.argsort(a)
j

array([2, 3, 1, 0])

In [128]:
a[j]

array([1, 2, 3, 4])