# Tuples

* Similar to a list
* Cannot change the elements of a tuple once it is assigned, but elements of a list can be changed.

<h3> 1.1 Tuple Creation </h3>

In [1]:
# Creates an empty tuple
t = ()
print(t)

# Tuple having integers
t = (1, 2, 3)
print(t, type(t))

# Tuple having mixed datatypes
t = (1, "pandu", 28, "afaque")
print(t)

# Nested tuple
t = (1, (2, 3, 4), [5, 6, 7])
print(t)

()
(1, 2, 3) <class 'tuple'>
(1, 'pandu', 28, 'afaque')
(1, (2, 3, 4), [5, 6, 7])

In [2]:
# Only parentheses not enough to create a tuple
t = ("satish")
print(type(t))

<class 'str'>

In [3]:
# Need to place a , to make a tuple
t = ("satish",)
print(type(t))

<class 'tuple'>

In [4]:
# Parentheses is optional
t = "satish",
print(type(t), t)

<class 'tuple'> ('satish',)

<h3> 1.2 Accessing Elements In A Tuple </h3>

In [6]:
t = ("Afaque", "Ahmad", "Pandu", "Naved")
print(t[1])

Ahmad

In [7]:
print(t[-1])

Naved

In [8]:
t = ("Afaque", ("Ahmad", "Pandu", "Naved"))
print(t[1])

('Ahmad', 'Pandu', 'Naved')

In [11]:
print(t[1][2])

Naved

<h3> 1.2 Slicing </h3>

In [12]:
t = (1, 2, 3, 4, 5, 6)
print(t[1:4])

(2, 3, 4)

In [13]:
print(t[:-2])

(1, 2, 3, 4)

<h3> 1.3 Changing Elements In A Tuple </h3>

In [15]:
t = (1, 2, 3, 4, [5, 6, 7])
t[2] = "x"

TypeError: 'tuple' object does not support item assignment

In [17]:
# Elements inside a list can be changed
t[4][1] = "Pandu"
print(t)

(1, 2, 3, 4, [5, 'Pandu', 7])

<h3> 1.4 Concatenation & Multiplication </h3>

In [18]:
t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [29]:
t = (("Pandu",) * 4)
print(t)

('Pandu', 'Pandu', 'Pandu', 'Pandu')

<h3> 1.5 Tuple Deletion </h3>

In [30]:
# Cannot remove a specific item from a tuple as they are immutable
print(t) 
del t
print("tuple t deleted")

('Pandu', 'Pandu', 'Pandu', 'Pandu')
tuple t deleted

<h3> 1.5 Tuple Element Count </h3>

In [31]:
t = (1, 1, 1, 1, 2, 3)
print(t.count(1))

4

<h3> 1.5 Tuple Index </h3>

In [33]:
# Prints the first index of the occurence of the element
t = (1, 2, 3, 4, 3, 6, 3)
print(t.index(3))

2

<h3> 1.5 Tuple Membership </h3>

In [34]:
print(1 in t)
print(10 in t)

True
False

# Built-In Tuple Functions

<h3> 2.0 Tuple Length </h3>

In [35]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

<h3> 2.1 Tuple Sort </h3>

In [38]:
t = (4, 1, 2, 9)
new_t = sorted(t)
print(new_t)

[1, 2, 4, 9]

<h3> 2.2 Tuple General Functions </h3>

In [39]:
print(t)
print(max(t))
print(min(t))
print(sum(t))

(4, 1, 2, 9)
9
1
16